
<div class='all-events-container'>



</div>
<button><a href="#">Add Event</a></button>

<script type="text/javascript">
$(document).ready(function() {
  getEvents();
  setupEventLinks();
});</script>
