
<div class='all-events-container'>



</div>

<button id="add-event"><a href="/event_new">Add Event</a></button>

<script type="text/javascript">
$(document).ready(function() {
  setupEvents();
  setupOptions();
  voteUp();
  // addEvent();
});</script>
