

<form id="create-event-form" action="event_new" method="post">
  Event:<br>
  <input type="text" name="event_title" placeholder="Title"><br>
  <input type="text" name="event_date" placeholder="Date"><br><br>
  Option 1:<br>
  <input type="text" name="option1_name" placeholder="Name"><br>
  <input type="text" name="option1_location" placeholder="Location"><br>
  Option 2:<br>
  <input type="text" name="option2_name" placeholder="Name"><br>
  <input type="text" name="option2_location" placeholder="Location"><br>
  <input id="create-event-button" type="submit" value="Create Event">
</form>
