
  <div id="signin">
    <form action="/login" method="post">
    <table>
      <th class="title">SIGN IN</th>

      <tr>
        <td>
          <input type="text" name="email" placeholder="email">
        </td>
      </tr>

      <tr>
        <td>
         <input type="text" name="password" placeholder="password"></td>
       </td>
     </tr>

     <tr>
      <td>
      <input type="button" class="enter" value="Sign In">
      </td>
    </tr>
  </table>
</form>
</div>

<div id="register">
  <form action="/users/new" method="post">
    <table>
      <th class="title">REGISTER</th>

      <tr>
        <td>
          <input type="text" name="email" placeholder="email"></td>
        </td>
      </tr>

      <tr>
        <td>
         <input type="text" name="password" placeholder="password"></td>
       </td>
     </tr>

     <tr>
      <td>
       <input type="text" name="password" placeholder="re-enter password"></td>
     </td>
   </tr>

   <tr>
    <td>
      <input type="button" class="enter" value="Register">
    </td>
  </tr>

</table>
</form>
</div>

<button><a href="/surveys">Take a Survey</a></button>
