
  <div id="signin">
    <form action="/signin" method="post">
    <table>
      <th class="title">SIGN IN</th>

      <tr>
        <td>
          <input type="text" name="user[username]" placeholder="username">
        </td>
      </tr>

      <tr>
        <td>
         <input type="text" name="user[password]" placeholder="password"></td>
       </td>
     </tr>

     <tr>
      <td>
      <input type="submit" class="enter" value="Sign In">
      </td>
    </tr>
  </table>
</form>
</div>

<div id="signup">
  <form action="/signup" method="post">
    <table>
      <th class="title">SIGN UP</th>

      <tr>
        <td>
          <input type="text" name="username" placeholder="username"></td>
        </td>
      </tr>

      <tr>
        <td>
         <input type="text" name="password" placeholder="password"></td>
       </td>
     </tr>

     <tr>
      <td>
       <input type="text" name="repassword" placeholder="re-enter password"></td>
     </td>
   </tr>

   <tr>
    <td>
      <input type="submit" class="enter" value="Sign Up">
    </td>
  </tr>

</table>
</form>
</div>

<button><a href="/surveys">Take a Survey</a></button>
